<div class="main">
  <div class="container">
    <h3>カテゴリー一覧</h3>
    <p class="category-show">各投稿一覧 各新規投稿</p>
    <ul class="category-menus">
     <li class="li1">
       <%= link_to("投稿一覧", "/posts/index") %>
       <span>/</span>
       <%= link_to("新規投稿1", "/posts/new") %>
     </li>
     <li class="li2">
       <%= link_to("投稿一覧2", "/foots/index") %>
       <span>/</span>
       <%= link_to("新規投稿2", "/foots/new")%>
     </li>
     <li class="li3">
       <%= link_to("投稿一覧3", "/balls/index") %>
       <span>/</span>
       <%= link_to("新規投稿3", "/balls/new")%>
     </li>
    </ul>
  </div>
</div>
